body {
  font-family: "Helvetica", sans-serif;
  background-color: #FAFAFA;
}

#todo_collection {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 30px;
  border: 3px solid green;
}

@media(max-width: 800px) {
  #todo_collection {
    width: 80%;
  }
}

#todo_collection #new_task #new_title {
  width: 80%;
  font-size: 30px;
  border: none;
  background-color: #FAFAFA;
  border-bottom: 1px solid black;
}

#todo_collection #new_task #new_title:focus {
  outline: none;
}

#todo_collection #new_task #new_submit {
  background-color: #ADD8E6;
  color: black;
  border: none;
  padding: 5px 10px;
  width: 30px;
  font-size: 20px;
  border-radius: 5px;
  float: right;
  position: relative;
  top: 5px;
}

#todo_collection #new_task #new_submit:hover {
  background-color: green;
}

#todo_collection #new_task #new_submit:active {
  background-color: green;
}

#todo_collection .todo {
  font-size: 30px;
  padding: 20px 0px;
  border-bottom: 1px dotted #orange;
}

#todo_collection .todo:last-of-type {
  border-bottom: none;
}

#todo_collection .todo p {
  display: inline-block;
  margin: 0px;
  max-width: 80%;
}

#todo_collection .todo .button {
  background: none;
  position: relative;
  bottom: -2px;
}

#todo_collection .todo .check {
  float: left;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid green;
  border-radius: 4px;
}

#todo_collection .todo .check:hover {
  background-color: blue;
}

#todo_collection .todo .check:active {
  background-color: blue;
}

#todo_collection .todo.completed {
  color: #D3D3D3;
}

#todo_collection .todo.completed p {
  text-decoration: line-through;
  font-style: italic;
}

#todo_collection .todo.completed .check {
  background-color: #7CFC00;
}

#todo_collection .todo .delete {
  float: right;
  border: none;
  font-size: 30px;
  padding: 5px 10px;
  width: 30px;
  font-size: 20px;
  border-radius: 4px;
  background-color: red;
  color: white;
}

#todo_collection .todo .delete:hover {
  background-color: red;
}

#todo_collection .todo .delete:active {
  background-color: red;
}
